<html>
<head>
    <style type="text/css">
        .rr{
            font-size: 40px;
            font-family:"Bitstream Vera Sans";
            color: lightcyan;
            background-color: coral;
            text-align: center;
        }
    </style>

</head>
<body>

<table align="center" style="background-color: coral">
    <tr>
        <th width="250" class="rr"> Login</th>
        <th width="250" class="rr">
            <a href="{% url 'reg' %}">Register</a>
        </th>
    </tr>
</table>
</body>
</html>