{% extends 's_admin/../resturant/common.html' %}
{% block common %}
      <h1 style="text-align: center;color: greenyellow;font-size: 50px;font-family: 'MV Boli'">Admin Login Page</h1>

      <form action="{% url 'login_check' %}" method="post">
        {% csrf_token %}
         <table align="center">
           <tr>
               <th>
                   <input type="text" class="form-control"  name="username" placeholder="username">
               </th>
           </tr>

           <tr>
               <th>
                   <input type="password" class="form-control" name="password" placeholder="password">
               </th>
           </tr>
           <tr align="center">
               <th >
                    <button type="submit" class="btn btn-primary">Sign in</button>
               </th>
           </tr>
           <tr>
               <th>
                   <h3 style="color: coral">
                       {% for x in messages %}
                         {{ x }}
                       {% endfor %}
                   </h3>
               </th>
           </tr>

      </table>
      </form>
{% endblock %}
